<div class="col-xs-12 bottom-15 pl-0 pr-0 each-page-content">
    <div widget class="card col-xs-12 zeroPadding float-left">
        <div class="card-header custom-style-header">
            <div class="row">
                <div class="pr-0" style="float: left;">
                    <select id="rowpage" class="form-control input-sm" style="margin: -1px 0px 0px 13px;width: 80%;padding: inherit;" [(ngModel)]="rowsOnPage"
                        (change)="ngOnInit();">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="40">40</option>
                        <option [ngValue]="100">100</option>
                    </select>
                </div>
                <div class="pl-0" style="float: left;">
                    <label class="label-control" style="margin: 10px 0px 0px 6px;">records per page</label>
                </div>
            </div>
        </div>
        <div class="table-block card-block widget-body">
            <div class="container-fluid pl-0 pr-0">
                <div class="col-xs-12 col-md-12 col-lg-12 pl-0 pr-0">
                    <div class="panel panel-default">
                        <table class="table" [mfData]="data" #mf="mfDataTable" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                            <thead class="thead">
                                <tr>
                                    <!-- <th style="width: 5%;text-align: center">
                                        #
                                    </th>
                                    <th style="width: 14%;text-align: center">Post Id</th>
                                    <th style="width: 12%;text-align: center">In-app purchase id</th>
                                    <th style="width: 20%;text-align: center">Promotion Title</th>
                                    <th style="width: 14%;text-align: center">Posted By</th>
                                    <th style="width: 15%;text-align: center">Promotion Start Date</th>
                                    <th style="width: 15%;text-align: center">Purchase TXN Id</th>
                                    <th style="width: 11%;text-align: center">Plan Id</th>
                                    <th style="width: 11%;text-align: center">Total unique view count</th>
                                    <th style="width: 8%">Status</th> -->
                                    <th style="width: 5%;text-align: center">#</th>
                                    <th style="width: 14%;text-align: center">Post Id</th>
                                    <th style="width: 12%;text-align: center">In-app Purchase Id</th>
                                    <th style="width: 20%;text-align: center">Promotion Title</th>
                                    <th style="width: 14%;text-align: center">Posted By</th>
                                    <th style="width: 15%;text-align: center">Promoted On</th>
                                    <th style="width: 11%;text-align: center">Total unique view</th>
                                    <th style="width: 11%;text-align: center">No Of View</th>
                                    <th style="width: 8%">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="9" style="text-align: center" *ngIf="this.msg">{{this.msg}}</td>
                                </tr>
                                <tr *ngFor="let post of postData | paginate: { itemsPerPage: rowsOnPage, currentPage: p,totalItems:count }; let i = index"
                                    [attr.data-index]="i">
                                    <!-- <td scope="row">{{i+1}}</td>
                                    <td>
                                        <button class="button-cust" style="cursor: pointer;" type="button" (click)="gotoPostDetail(post.username,post.postId);">{{post.postId}}</button>
                                    </td>
                                    <td>{{post.inAppPurchaseId}}</td>
                                    <td>{{post.promotionName}}</td>
                                    <td>
                                        <a class="custom" (click)="gotoUserDatail(post.username)">{{post.username}}</a>
                                    </td>
                                    <td *ngIf="post.promotionStartDate == null">N/A</td>
                                    <td *ngIf="post.promotionStartDate != null">{{post.promotionStartDate |date}}</td>
                                    <td>{{post.purchaseTxnId}}</td>
                                    <td>{{post.promotionPlanId}}</td>
                                    <td>{{post.uniqueViews}}</td>
                                    <td *ngIf="post.promotionStatus == 1">Active</td>
                                    <td *ngIf="post.promotionStatus == 0">De-Active</td> -->
                                    <td scope="row">{{i+1}}</td>
                                    <td>
                                        <button class="button-cust" style="cursor: pointer;" type="button" (click)="gotoPostDetail(post.postedBy,post.postId);">{{post.postId}}</button>
                                    </td>
                                    <td>{{post.purchaseId}}</td>
                                    <td>{{post.promotionTitle}}</td>
                                    <td>
                                        <a class="custom" (click)="gotoUserDatail(post.postedBy)">{{post.postedBy}}</a>
                                    </td>
                                    <td>{{post.promotedOn |date}}</td>
                                    <td>{{post.noOfViews}}</td>
                                    <!-- <td>
                                        <a class="custom" (click)="gotopromoteUserDatail(post.postId)">{{post.totalClicks}}</a>
                                    </td> -->
                                    <td style="text-align: center;" *ngIf="post.totalClicks == 0">{{post.totalClicks}}</td>
                                    <td style="text-align: center;" *ngIf="post.totalClicks > 0">
                                        <button class="button-cust" style="cursor: pointer;" type="button" (click)="gotopromoteUserDatail(post.postId)">{{post.totalClicks}}</button>
                                    </td>
                                    <td *ngIf="post.status == 1">Active</td>
                                    <td *ngIf="post.status == 0">De-Active</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="100">
                                        <pagination-controls (pageChange)="getPage($event)" class="cursor-pointer float-right"></pagination-controls>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="userDetail" role="dialog" style="top: -140px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="padding: 20px 0px 20px 0px;">
                <div class="container-fluid">
                    <div class="item active col-xs-12">
                        <div class="col-sm-12 tableContent" *ngFor="let data of detailData">
                            <div class="col-xs-12 zeroPadding" style="margin: 0 0 2% 0%;text-align: center;" *ngIf="data.profilePicUrl == null">
                                <span>
                                    <img class="img-circle" src="assets/img/users/default_user.jpg" style="width: 50%;height: 255px;border-radius: 50%;">
                                </span>
                            </div>
                            <div class="col-xs-12 zeroPadding" style="margin: 0 0 2% 0%;text-align: center;" *ngIf="data.profilePicUrl != null">
                                <span>
                                    <img class="img-circle" src={{data.profilePicUrl}} style="width: 50%;height: 255px;border-radius: 50%;" onError="this.src='assets/img/users/default_user.jpg';">
                                </span>
                            </div>
                            <table class="custom-table table table-striped">
                                <tbody>
                                    <tr>
                                        <td class="pull-left">User Full Name</td>
                                        <td class="pull-right">{{data.fullName}}</td>
                                    </tr>

                                    <tr>
                                        <td class="pull-left">User Name</td>
                                        <td class="pull-right">{{data.username}}</td>
                                    </tr>
                                    <tr>
                                        <td class="pull-left">Email</td>
                                        <td class="pull-right">{{data.email}}</td>
                                    </tr>
                                    <tr *ngIf="data.gender == null">
                                        <td class="pull-left">Gender</td>
                                        <td class="pull-right">Not Specified</td>
                                    </tr>
                                    <tr *ngIf="data.gender != null">
                                        <td class="pull-left">Gender</td>
                                        <td class="pull-right">{{data.gender}}</td>
                                    </tr>
                                    <tr>
                                        <td class="pull-left">Phone</td>
                                        <td class="pull-right">{{data.phoneNumber}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="postDetail" role="dialog" style="top: -99px;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" style="padding: 20px 0px 20px 0px;">
                <button type="button" style="margin: -22px 2px 0 0;" class="close" data-dismiss="modal">&times;</button>
                <div class="container-fluid" *ngFor="let post of postDetail">
                    <div class="carousel-inner">
                        <div class="item active col-xs-12">
                            <div class="col-sm-7" style="padding-left: 0px;">
                                <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width: 100%">
                                    <div class="carousel-inner" role="listbox">
                                        <div *ngIf="post.mainUrl != null">
                                            <img class="mySlides myImage" src={{post.mainUrl}} alt="image1">
                                        </div>
                                        <div *ngIf="post.imageUrl1 != null">
                                            <img class="mySlides myImage" src={{post.imageUrl1}} alt="image2" style="display: none">
                                        </div>
                                        <div *ngIf="post.imageUrl2 != null">
                                            <img class="mySlides myImage" src={{post.imageUrl2}} alt="image3" style="display: none">
                                        </div>
                                        <div *ngIf="post.imageUrl3 != null">
                                            <img class="mySlides myImage" src={{post.imageUrl3}} alt="image4" style="display: none">
                                        </div>
                                        <div *ngIf="post.imageUrl4 != null">
                                            <img class="mySlides myImage" src={{post.imageUrl4}} alt="image5" style="display: none">
                                        </div>

                                    </div>
                                    <a class="left carousel-control" (click)="plusDivs(-1)" role="button" data-slide="prev" style="height: 435px;">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="top: 50%;color: white;"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" (click)="plusDivs(1)" role="button" data-slide="next" style="height: 435px;">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="top: 50%;color: white;"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-5 zeroPadding">
                                <div class="col-xs-12 zeroPadding">
                                    <div>
                                        <span class="pull-left">
                                            <img class="profileImg" src={{post.profilePicUrl}} onError="this.src='http://www.onemediatv.com/public/common/images/_default_user_social.gif';">
                                        </span>
                                    </div>
                                    <span class="">
                                        <span style="font-weight: bold">{{post.fullName}}</span>
                                        <br>
                                        <span>{{post.username}}</span>
                                    </span>
                                </div>
                                <div class="col-sm-12 tableCnt">
                                    <table class="custom-table table table-striped">
                                        <tbody>
                                            <tr>
                                                <td class="pull-left">Title</td>
                                                <td class="pull-right" style="text-align: right;">{{post.productName}}</td>
                                            </tr>
                                            <tr *ngIf="post.description == null">
                                                <td class="pull-left">Description</td>
                                                <td class="pull-right">N/A</td>
                                            </tr>
                                            <tr *ngIf="post.description != null">
                                                <td class="pull-left">Description</td>
                                                <td class="pull-right" style="text-align: right;width: 63%;">{{post.description}}</td>
                                            </tr>
                                            <tr *ngIf="post.place == 'null' ">
                                                <td class="pull-left">Location</td>
                                                <td class="pull-right">N/A</td>
                                            </tr>
                                            <tr *ngIf="post.place != 'null' ">
                                                <td class="pull-left">Location</td>
                                                <td class="pull-right" style="text-align: right;width: 63%;">{{post.place}}</td>
                                            </tr>
                                            <tr *ngIf="category == null">
                                                <td class="pull-left">Category</td>
                                                <td class="pull-right">N/A</td>
                                            </tr>
                                            <tr *ngIf="category != null">
                                                <td class="pull-left">Category</td>
                                                <td class="pull-right" style="text-align: right;">{{category}}</td>
                                            </tr>
                                            <tr>
                                                <td class="pull-left">Currency</td>
                                                <td class="pull-right" style="text-align: right;">{{post.currency}}</td>
                                            </tr>
                                            <tr>
                                                <td class="pull-left">Price</td>
                                                <td class="pull-right" style="text-align: right;">{{post.price}}</td>
                                            </tr>
                                            <tr *ngIf="post.negotiable == 0">
                                                <td class="pull-left">Negotiable</td>
                                                <td class="pull-right" style="text-align: right;">No</td>
                                            </tr>
                                            <tr *ngIf="post.negotiable == 1">
                                                <td class="pull-left">Negotiable</td>
                                                <td class="pull-right" style="text-align: right;">Yes</td>
                                            </tr>
                                            <tr>
                                                <td class="pull-left">Posted On</td>
                                                <td class="pull-right" style="text-align: right;">{{post.postedOn | date}}</td>
                                            </tr>
                                            <tr *ngIf="post.sold == 1">
                                                <td class="pull-left">Status</td>
                                                <td class="pull-right" style="text-align: right;">Sold</td>
                                            </tr>
                                            <tr *ngIf="post.sold == 0">
                                                <td class="pull-left">Status</td>
                                                <td class="pull-right" style="text-align: right;">Selling</td>
                                            </tr>
                                            <tr *ngIf="post.sold == 2">
                                                <td class="pull-left">Status</td>
                                                <td class="pull-right" style="text-align: right;">Sold Somewhere Else</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>