.button-cust{
    background-color: transparent;
    border-color: transparent;
}
.buttonCus{
    // margin-left: 72%;
    float: right;
    margin: 0 20px 0px 0px;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    padding: 6px 21px;
    cursor: pointer;
    color: #fff;
    background: #22A1E4;
    height: 30px;
}
.butt{
    // margin-left: 72%;
    margin: 71px 0px 0px 15px;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    padding: 6px 16px 6px 13px;
    cursor: pointer;
    color: #fff;
    background: #22A1E4;
    height: 30px;
}
.zeroPadding{
    padding: 0px !important;
}
.btn-hover
{
    display:inline-block;
    border:0;
    // width:196px;
    // height:210px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.btn-hover:hover
{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}
.table {
    table-layout: fixed;
    word-wrap: break-word;
    width: 100%;
    text-align:center;
}