<div class="col-xs-12 bottom-15 pl-0 pr-0 each-page-content">
    <div widget class="card col-xs-12 zeroPadding float-left">
        <div class="card-header custom-style-header">
            <div class="row">
                <div class="pr-0" style="float: left;">
                    <select id="rowpage" class="form-control input-sm" style="margin: -1px 0px 0px 13px;width: 80%;padding: inherit;" [(ngModel)]="rowsOnPage"
                        (change)="ngOnInit();">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="40">40</option>
                        <option [ngValue]="100">100</option>
                </select>
                </div>
                <div class="pl-0" style="float: left;">
                    <label class="label-control" style="margin: 12px 0px 0px 6px;">records per page</label>
                </div>
                <button class="btn btn-primary buttonCus" data-toggle="modal" style="margin: 0 20px 0px 0px;" data-target="#addFaqTopics">Add</button>

            </div>
        </div>
        <div class="table-block card-block widget-body">
            <div class="container-fluid pl-0 pr-0">
                <div class="col-xs-12 col-md-12 col-lg-12 pl-0 pr-0">

                    <div class="panel panel-default">
                        <table class="table">
                            <thead class="thead">
                                <tr>
                                    <th style="width: 5%;text-align: center">#</th>
                                    <th style="width: 40%;text-align: center">
                                        Topics Name
                                    </th>
                                    <th style="width: 28%;text-align: center" class="thTitle">
                                        Point Count
                                    </th>
                                    <th style="width: 10%;text-align: center" class="thAction">
                                        Action
                                    </th>
                                </tr>
                                <tr>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="this.msg">
                                    <td colspan="4">{{this.msg}}</td>
                                </tr>
                                <tr *ngFor="let topics of topicsList | paginate: { itemsPerPage: rowsOnPage, currentPage: p }; let i = index" [attr.data-index]="i">
                                    <td>{{i+1}}</td>
                                    <td>{{topics.name}}</td>
                                    <td>
                                        <button class="button-cust" style="cursor: pointer;" type="button" (click)="gotoFaqPoint(topics._id)">{{topics.count}}</button>
                                    </td>
                                    <td>
                                        <div class="btn-hover" *ngIf="btnFlag">
                                            <button data-toggle="modal" class="btn btn-danger btn-xs" (click)="gotoDeleteTopics(topics._id)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                        </div>

                                        <div class="btn-hover" *ngIf="btnFlag">
                                            <button data-toggle="modal" data-target="#editFaqTopics" class="btn btn-primary btn-xs" (click)="gotoFaqTopics(topics)">
                                          <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <!--<tfoot>
                                <tr>
                                    <td colspan="100">
                                        <pagination-controls (pageChange)="p = $event" class="cursor-pointer float-right"></pagination-controls>
                                    </td>
                                </tr>
                            </tfoot>-->
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addFaqTopics" tabindex="-1" role="dialog" aria-labelledby="modal-label" style="display: none;padding-top: 0%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Topics
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="addTopics" (ngSubmit)="submitForm(addTopics)">
                <fieldset>
                    <div class="modal-body">
                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-2 control-label">Name</label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control checking-field" id="input-2" name="name" [formControl]="addTopics.controls['name']"
                                    [ngModel]="addTopics.name">

                                <div *ngIf="addTopics.controls['name'].errors && (addTopics.controls['name'].dirty || addTopics.controls['name'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!addTopics.controls['name'].errors.required">
                                        Name is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <div class="col-xs-10 col-xs-offset-2" style="margin: 13px 0 0 73px;">
                                <button type="submit" class="btn btn-primary" [disabled]="!addTopics.valid">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="editFaqTopics" tabindex="-1" role="dialog" aria-labelledby="modal-label" style="display: none;padding-top: 0%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Topics
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="editTopics" (ngSubmit)="editedDataForm(editTopics)">
                <fieldset>
                    <div class="modal-body">
                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-2 control-label">Name</label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control checking-field" id="input-2" name="name" [formControl]="editTopics.controls['name']"
                                    [(ngModel)]="obj.name">

                                <div *ngIf="editTopics.controls['name'].errors && (editTopics.controls['name'].dirty || editTopics.controls['name'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!editTopics.controls['name'].errors.required">
                                        Name is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <div class="col-xs-10 col-xs-offset-2" style="margin: 13px 0 0 73px;">
                                <button type="submit" class="btn btn-primary" [disabled]="!editTopics.valid">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>