<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-15 pl-0 pr-0 each-page-content">
    <div widget class="card float-left">
        <div class="card-header custom-style-header">
            <div class="row">
                <div class="pr-0" style="float: left;">
                    <select id="rowpage" class="form-control input-sm" style="margin: -1px 0px 0px 13px;width: 80%;padding: inherit;" [(ngModel)]="rowsOnPage"
                        (change)="ngOnInit();">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="40">40</option>
                        <option [ngValue]="100">100</option>
                </select>
                </div>
                <div class="pl-0" style="float: left;">
                    <label class="label-control" style="margin: 12px 0px 0px 5px;">records per page</label>
                </div>
                <input class="customSearch" placeholder="Search.." type="text" style="margin: -2px 21px 0 0;" [(ngModel)]="searchTerm" (keyup)="getPageOnSearch(myinput.value)"
                    #myinput>

            </div>
        </div>
        <div class="table-block card-block widget-body">
            <div class="container-fluid pl-0 pr-0">
                <div class="col-xs-12 col-md-12 col-lg-12 pl-0 pr-0">

                    <div class="panel panel-default">
                        <table class="table">
                            <thead class="thead">
                                <tr>
                                    <th style="width: 11%;text-align: center">#</th>
                                    <th style="width: 43%;text-align: center">Post Id</th>
                                    <th style="width: 63%;text-align: center">Post Title</th>
                                    <th style="width: 36%;text-align: center">Posted By</th>
                                    <th style="width: 30%;text-align: center">Posted On</th>
                                    <th style="width: 16%;text-align: center">Likes</th>
                                    <th style="width: 15%;text-align: center">Comments</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="msg">
                                    <td colspan="9">No Data Found</td>
                                </tr>
                                <tr *ngFor="let data of pHashData; let i = index">
                                    <td>{{i+1}} </td>
                                    <td>{{data.postId}}</td>
                                    <td>{{data.productName}}</td>
                                    <td>
                                        <a class="custom" data-toggle="modal" data-target="#userDetail" (click)="gotoUserDatail(data.postedBy)">{{data.postedBy}}</a>
                                    </td>
                                    <td>{{data.postedOn}}</td>
                                    <td>{{data.likes}}</td>
                                    <td>{{data.comments}}</td>
                                </tr>
                            </tbody>

                            <tfoot>
                                <tr>
                                    <td colspan="100">
                                        <button type="button" id="loadButton" class="lBtn" (click)="getPage()">
                                            <i class="fa fa-chevron-circle-down fa-2x" style="cursor: pointer;"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="userDetail" role="dialog" style="top: -140px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="padding: 20px 0px 20px 0px;">
                <div class="container-fluid">
                    <div class="item active col-xs-12">
                        <div class="col-sm-12 tableContent" *ngFor="let data of detailData">
                            <div class="col-xs-12 zeroPadding" style="margin: 0 0 2% 0%;text-align: center;" *ngIf="data.profilePicUrl == null">
                                <span><img class="img-circle" src="assets/img/users/default_user.jpg" style="width: 50%;height: 255px;border-radius: 50%;"></span>
                            </div>
                            <div class="col-xs-12 zeroPadding" style="margin: 0 0 2% 0%;text-align: center;" *ngIf="data.profilePicUrl != null">
                                <span><img class="img-circle" src={{data.profilePicUrl}} style="width: 50%;height: 255px;border-radius: 50%;"></span>
                            </div>
                            <table class="custom-table table table-striped">
                                <tbody>
                                    <!--<tr>
                                        <td class="pull-left">Full Name</td>
                                        <td class="pull-right">adcdc</td>
                                    </tr>-->
                                    <tr>
                                        <td class="pull-left">User Full Name</td>
                                        <td class="pull-right">{{data.fullName}}</td>
                                    </tr>

                                    <tr>
                                        <td class="pull-left">User Name</td>
                                        <td class="pull-right">{{data.username}}</td>
                                    </tr>
                                    <tr>
                                        <td class="pull-left">Email</td>
                                        <td class="pull-right">{{data.email}}</td>
                                    </tr>

                                    <tr>
                                        <td class="pull-left">Phone</td>
                                        <td class="pull-right">{{data.phoneNumber}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>