<!--<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 each-page-header" style="position: fixed;z-index: 99;">
    <div class="float-left"> FAQ </div>
</div>-->
<div class="col-xs-12 bottom-15 pl-0 pr-0 each-page-content">
    <div widget class="card col-xs-12 zeroPadding float-left">
        <div class="card-header custom-style-header">
            <div class="row">
                <div class="pr-0" style="float: left;">
                    <select id="rowpage" class="form-control input-sm" style="margin: -1px 0px 0px 13px;width: 80%;padding: inherit;" [(ngModel)]="rowsOnPage"
                        (change)="ngOnInit();">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="40">40</option>
                        <option [ngValue]="100">100</option>
                </select>
                </div>
                <div class="pl-0" style="float: left;">
                    <label class="label-control" style="margin: 12px 0px 0px 6px;">records per page</label>
                </div>
                <!--<button class="btn btn-primary buttonCus" data-toggle="modal" style="margin: 0 20px 0px 0px;" data-target="#addCategory">Add</button>-->
                <button class="btn btn-primary buttonCus" style="margin: 0 20px 0px 0px;" (click)="addPoints();">Add</button>

            </div>
        </div>
        <div class="table-block card-block widget-body">
            <div class="container-fluid pl-0 pr-0">
                <div class="col-xs-12 col-md-12 col-lg-12 pl-0 pr-0">

                    <div class="panel panel-default">
                        <table class="table">
                            <thead class="thead">
                                <tr>
                                    <th style="width: 5%;text-align: center">#</th>
                                    <th style="width: 40%;text-align: center">
                                        Point title
                                    </th>
                                    <th style="width: 9%;text-align: center" class="thTitle">View</th>
                                    <th style="width: 10%;text-align: center" class="thAction">
                                        Action
                                    </th>
                                </tr>
                                <tr>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="this.msg">
                                    <td colspan="4">{{this.msg}}</td>
                                </tr>
                                <tr *ngFor="let point of pointsList | paginate: { itemsPerPage: rowsOnPage, currentPage: p }; let i = index" [attr.data-index]="i">
                                    <td>{{i+1}}</td>
                                    <td>{{point.ques}}</td>
                                    <td>
                                        <button class="btn btn-primary pointCust" data-toggle="modal" data-target="#viewPointAns" (click)="gotoViewPointDetail(point)">View</button>

                                    </td>
                                    <td>
                                        <div class="btn-hover" *ngIf="btnFlag">
                                            <button data-toggle="modal" class="btn btn-danger btn-xs" (click)="gotoDeletePoints(point.id)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                        </div>

                                        <div class="btn-hover" *ngIf="btnFlag">
                                            <button data-toggle="modal" class="btn btn-primary btn-xs" (click)="editPoints(point.id);">
                                          <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <!--<tfoot>
                                <tr>
                                    <td colspan="100">
                                        <pagination-controls (pageChange)="p = $event" class="cursor-pointer float-right"></pagination-controls>
                                    </td>
                                </tr>
                            </tfoot>-->
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="viewPointAns" class="modal fade" role="dialog" style="top: -20%;">
    <div class="modal-dialog modal-lg" style="max-width: 858px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Point</h4>
            </div>
            <div class="modal-body">
                <div class="col-xs-12 queDiv">Point: {{this.que}}</div>
                <div class="col-xs-12 detailDiv">
                    {{this.ans}}
                </div>
            </div>
        </div>
    </div>
</div>