<!--<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 each-page-header" style="position: fixed;z-index: 99;">
    <div class="float-left"> FAQ </div>
</div>-->
<div class="col-xs-12 bottom-15 pl-0 pr-0 each-page-content">
    <div widget class="card col-xs-12 zeroPadding float-left">
        <div class="card-header custom-style-header">
            <div class="row">
                <div class="pr-0" style="float: left;">
                    <select id="rowpage" class="form-control input-sm" style="margin: -1px 0px 0px 13px;width: 80%;padding: inherit;" [(ngModel)]="rowsOnPage"
                        (change)="ngOnInit();">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="40">40</option>
                        <option [ngValue]="100">100</option>
                </select>
                </div>
                <div class="pl-0" style="float: left;">
                    <label class="label-control" style="margin: 12px 0px 0px 6px;">records per page</label>
                </div>
                <button class="btn btn-primary buttonCus" data-toggle="modal" style="margin: 0 20px 0px 0px;" data-target="#addFaqCategory">Add</button>
            </div>
        </div>
        <div class="table-block card-block widget-body">
            <div class="container-fluid pl-0 pr-0">
                <div class="col-xs-12 col-md-12 col-lg-12 pl-0 pr-0">

                    <div class="panel panel-default">
                        <table class="table">
                            <thead class="thead">
                                <tr>
                                    <th style="width: 5%;text-align: center">#</th>
                                    <th style="width: 40%;text-align: center">
                                        FAQ title
                                    </th>
                                    <th style="width: 28%;text-align: center">
                                        Icon
                                    </th>

                                    <th style="width: 18%;text-align: center" class="thTitle">
                                        Number of Topics
                                    </th>
                                    <th style="width: 10%;text-align: center" class="thAction">
                                        Action
                                    </th>
                                </tr>
                                <tr>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let faq of faqData | paginate: { itemsPerPage: rowsOnPage, currentPage: p }; let i = index" [attr.data-index]="i">
                                    <td>{{i+1}}</td>
                                    <td style="text-align: center">{{faq.categoryName}}</td>
                                    <td *ngIf="faq.faqCatIcon == null ">
                                        <img src="https://cdn2.iconfinder.com/data/icons/shopping-e-commerce-4/100/SC-14-512.png" alt="500*500" style="width: 22%;"
                                            class="img-responsive">

                                    </td>
                                    <td *ngIf="faq.faqCatIcon != null">
                                        <img src={{faq.faqCatIcon}} alt="500*500" style="width: 22%;" class="img-responsive">
                                    </td>
                                    <td>
                                        <button class="button-cust" style="cursor: pointer;" type="button" (click)="gotoTopics(faq._id)">{{faq.count}}</button>
                                    </td>
                                    <td>
                                        <div class="btn-hover" *ngIf="btnFlag">
                                            <button data-toggle="modal" class="btn btn-danger btn-xs" (click)="gotoDeleteCategory(faq._id)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                        </div>

                                        <div class="btn-hover" *ngIf="btnFlag">
                                            <button data-toggle="modal" data-target="#editCat" class="btn btn-primary btn-xs" (click)="gotoEditCategory(faq)">
                                          <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="100">
                                        <pagination-controls (pageChange)="p = $event" class="cursor-pointer float-right"></pagination-controls>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addFaqCategory" tabindex="-1" role="dialog" aria-labelledby="modal-label" style="display: none;padding-top: 0%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Add Faq
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="addCategory" (ngSubmit)="submitForm(addCategory)">
                <fieldset>
                    <div class="modal-body">
                        <div *ngIf="msg" style="color: red">
                            Please select image
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <div class="col-xs-4"></div>
                            <div class="col-xs-4" style="text-align: center;">
                                <label>Select Image</label>
                                <div class="image-wrapper">
                                    <input type="file" (change)="upload(input)" #input class="img-upload-btn" ng2FileSelect [uploader]="uploader" />
                                    <img src={{url}} *ngIf="url" width="100%" style="height: 168pxx;">
                                    <img src="assets/img/app/no-image.png" *ngIf="!url" width="100%" style="height: 168px;">
                                </div>
                            </div>
                            <div class="col-xs-4"></div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-2 control-label">Name</label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control checking-field" id="input-2" name="faqCategory" [formControl]="addCategory.controls['faqCategory']"
                                    [ngModel]="addCategory.faqCategory">
                                <div *ngIf="addCategory.controls['faqCategory'].errors && (addCategory.controls['faqCategory'].dirty || addCategory.controls['faqCategory'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!addCategory.controls['faqCategory'].errors.required">
                                        Name is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="form-group col-xs-12 zeroPadding">
                            <label for="photo" class="col-xs-2 control-label">Icon</label>
                            <div class="col-xs-10">
                                <input type="file" id="photo" accept="image/*" ng2FileSelect [uploader]="uploader" [formControl]="addCategory.controls['icon']"
                                />
                                <div *ngIf="errorImg" class="alert alert-danger">
                                    Image is required
                                </div>
                            </div>

                        </div>-->
                        <div class="form-group col-xs-12 zeroPadding">
                            <div class="col-xs-10 col-xs-offset-2" style="margin: 13px 0 0 73px;">
                                <button type="submit" class="btn btn-primary" [disabled]="!addCategory.valid">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="editCat" tabindex="-1" role="dialog" aria-labelledby="modal-label" style="display: none;padding-top: 0%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Edit Faq
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="editCategory" (ngSubmit)="editForm(editCategory)">
                <fieldset>
                    <div class="modal-body">
                        <div class="form-group col-xs-12 zeroPadding">
                            <div class="col-xs-4"></div>
                            <div class="col-xs-4" style="text-align: center;">
                                <label>Select Image</label>
                                <div class="image-wrapper">
                                    <input type="file" (change)="upload(input1)" #input1 class="img-upload-btn" ng2FileSelect [uploader]="uploader" />
                                    <img src={{url}} *ngIf="url" width="100%" style="height: 168pxx;">
                                    <img src="assets/img/app/no-image.png" *ngIf="!url" width="100%" style="height: 168px;">
                                </div>
                            </div>
                            <div class="col-xs-4"></div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-2 control-label">Name</label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control checking-field" id="input-2" name="faqCategory" [formControl]="editCategory.controls['faqCategory']"
                                    [(ngModel)]="obj.categoryName">

                                <div *ngIf="editCategory.controls['faqCategory'].errors && (editCategory.controls['faqCategory'].dirty || editCategory.controls['faqCategory'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!editCategory.controls['faqCategory'].errors.required">
                                        Name is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <div class="col-xs-10 col-xs-offset-2" style="margin: 13px 0 0 73px;">
                                <button type="submit" class="btn btn-primary" [disabled]="!editCategory.valid">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>