<div class="col-xl-12 bottom-15 pl-0 pr-0 each-page-content" style="width: 56%;margin: 0 0 0 23%;">
    <!--<div widget class="card col-xs-12 zeroPadding float-left keysFilter">-->
    <!--<div class="card-header custom-style-header" style="background-color: rgb(255, 255, 255) !important;">
            <select class="form-control custDrop1" [(ngModel)]="keysType" (change)="updateKeyType()" style="width: 16%;">
                <option value=1>Cloudinary</option>                            
                <option value=2>Mailgun</option>                            
                <option value=3>Twilio</option>                            
                <option value=4>Fire Base</option>                            
            </select>
        </div>-->
    <div class="card-block widget-body" id="cloudTbl" style="background: rgba(255, 87, 34, 0.18);border: 2px solid rgba(255, 87, 34, 0.54);border-radius: 6px;margin-bottom: 1%;"
        id="cloudTbl">
        <div style="text-align: center;margin-bottom: 4%;">
            <h4>Cloudinary</h4>
        </div>
        <form [formGroup]="cForm" (ngSubmit)="cloudFrom(cForm)">
            <fieldset>
                <div class="form-group col-xs-12 zeroPadding">
                    <label for="input-2" class="col-xs-2 control-label">Cloud Name:</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control checking-field" name="cloudName" [formControl]="cForm.controls['cloudName']" [(ngModel)]="cData.cloudName">
                        <div *ngIf="cForm.controls['cloudName'].errors && (cForm.controls['cloudName'].dirty || cForm.controls['cloudName'].touched)"
                            class="alert alert-danger">
                            <div [hidden]="!cForm.controls['cloudName'].errors.required">
                                Cloud Name Required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-xs-12 zeroPadding">
                    <label for="input-2" class="col-xs-2 control-label">Api Key:</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" id="input-2" name="apiKey" [formControl]="cForm.controls['apiKey']" [(ngModel)]="cData.apiKey">
                        <div *ngIf="cForm.controls['apiKey'].errors && (cForm.controls['apiKey'].dirty || cForm.controls['apiKey'].touched)" class="alert alert-danger">
                            <div [hidden]="!cForm.controls['apiKey'].errors.required">
                                Api key Required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-xs-12 zeroPadding">
                    <label for="input-2" class="col-xs-2 control-label">Api Secret Key:</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" name="apiSecret" [formControl]="cForm.controls['apiSecret']" [(ngModel)]="cData.apiSecret">
                        <div *ngIf="cForm.controls['apiSecret'].errors && (cForm.controls['apiSecret'].dirty || cForm.controls['apiSecret'].touched)"
                            class="alert alert-danger">

                            <div [hidden]="!cForm.controls['apiSecret'].errors.required">
                                apiSecret is required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-xs-12 zeroPadding" style="text-align: center">
                    <div class="col-xs-10 col-xs-offset-2" style="margin: 13px 0 0 73px;">
                        <button type="submit" class="btn btn-outline-primary btn-rounded" [disabled]="!cForm.valid">Save</button>
                        <!--<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>-->
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="card-block widget-body" style="background: rgba(139, 195, 74, 0.25);border: 2px solid rgba(139, 195, 74, 0.72);border-radius: 6px;margin-bottom: 1%;"
        id="mailTbl">
        <div style="text-align: center;margin-bottom: 4%;">
            <h4>Mailgun</h4>
        </div>
        <form [formGroup]="mailForm" (ngSubmit)="mailgunForm(mailForm)">
            <fieldset>
                <div class="form-group col-xs-12 zeroPadding">
                    <label for="input-2" class="col-xs-2 control-label">Domain Name:</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control checking-field" name="domainName" [formControl]="mailForm.controls['domainName']"
                            [(ngModel)]="mData.domainName">
                        <div *ngIf="mailForm.controls['domainName'].errors && (mailForm.controls['domainName'].dirty || mailForm.controls['domainName'].touched)"
                            class="alert alert-danger">
                            <div [hidden]="!mailForm.controls['domainName'].errors.required">
                                Domain Name Required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-xs-12 zeroPadding">
                    <label for="input-2" class="col-xs-2 control-label">Api Key:</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" id="input-2" name="apiKey" [formControl]="mailForm.controls['apiKey']" [(ngModel)]="mData.apiKey">
                        <div *ngIf="mailForm.controls['apiKey'].errors && (mailForm.controls['apiKey'].dirty || mailForm.controls['apiKey'].touched)"
                            class="alert alert-danger">
                            <div [hidden]="!mailForm.controls['apiKey'].errors.required">
                                Api key Required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-xs-12 zeroPadding">
                    <label for="input-2" class="col-xs-2 control-label">From Who:</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" name="fromWho" [formControl]="mailForm.controls['fromWho']" [(ngModel)]="mData.fromWho">
                        <div *ngIf="mailForm.controls['fromWho'].errors && (mailForm.controls['fromWho'].dirty || mailForm.controls['fromWho'].touched)"
                            class="alert alert-danger">

                            <div [hidden]="!mailForm.controls['fromWho'].errors.required">
                                From Who required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-xs-12 zeroPadding" style="text-align: center">
                    <div class="col-xs-10 col-xs-offset-2" style="margin: 13px 0 0 73px;">
                        <button type="submit" class="btn btn-outline-primary btn-rounded" [disabled]="!mailForm.valid">Save</button>
                        <!--<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>-->
                    </div>
                </div>
            </fieldset>
        </form>
    </div>



    <div class="card-block widget-body" style="background: rgba(255, 193, 7, 0.29);border: 2px solid rgba(255, 193, 7, 0.63);border-radius: 6px;margin-bottom: 1%;"
        id="fcmTbl">
        <div style="text-align: center;margin-bottom: 4%;">
            <h4>Fire Base</h4>
        </div>
        <form [formGroup]="fcmForm" (ngSubmit)="fcmkeyForm(fcmForm)">
            <fieldset>
                <div class="form-group col-xs-12 zeroPadding">
                    <label for="input-2" class="col-xs-2 control-label">Api Key:</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control checking-field" name="apiKey" [formControl]="fcmForm.controls['apiKey']" [(ngModel)]="fData.apiKey">
                        <div *ngIf="fcmForm.controls['apiKey'].errors && (fcmForm.controls['apiKey'].dirty || fcmForm.controls['apiKey'].touched)"
                            class="alert alert-danger">
                            <div [hidden]="!fcmForm.controls['apiKey'].errors.required">
                                Api Key Required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-xs-12 zeroPadding" style="text-align: center">
                    <div class="col-xs-10 col-xs-offset-2" style="margin: 13px 0 0 73px;">
                        <button type="submit" class="btn btn-outline-primary btn-rounded" [disabled]="!fcmForm.valid">Save</button>
                        <!--<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>-->
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="card-block widget-body" style="background: rgba(63, 81, 181, 0.28);border: 2px solid rgba(63, 81, 181, 0.5);border-radius: 6px;margin-bottom: 1%;"
        id="twilioTbl">
        <div style="text-align: center;margin-bottom: 4%;">
            <h4>Twilio</h4>
        </div>
        <form [formGroup]="twilioForm" (ngSubmit)="twilioData(twilioForm)">
            <fieldset>
                <div class="form-group col-xs-12 zeroPadding">
                    <label for="input-2" class="col-xs-2 control-label">Twilio Phone Number:</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control checking-field" name="tPhoneNo" [formControl]="twilioForm.controls['tPhoneNo']" [(ngModel)]="tData.tPhoneNo">
                        <div *ngIf="twilioForm.controls['tPhoneNo'].errors && (twilioForm.controls['tPhoneNo'].dirty || twilioForm.controls['tPhoneNo'].touched)"
                            class="alert alert-danger">
                            <div [hidden]="!twilioForm.controls['tPhoneNo'].errors.required">
                                Twilio Phone Number Required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-xs-12 zeroPadding">
                    <label for="input-2" class="col-xs-2 control-label">Account SID:</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" id="input-2" name="AccSid" [formControl]="twilioForm.controls['AccSid']" [(ngModel)]="tData.AccSid">
                        <div *ngIf="twilioForm.controls['AccSid'].errors && (twilioForm.controls['AccSid'].dirty || twilioForm.controls['AccSid'].touched)"
                            class="alert alert-danger">
                            <div [hidden]="!twilioForm.controls['AccSid'].errors.required">
                                Account SID Required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-xs-12 zeroPadding">
                    <label for="input-2" class="col-xs-2 control-label">Auth Token:</label>
                    <div class="col-xs-10">
                        <input type="text" class="form-control" name="authToken" [formControl]="twilioForm.controls['authToken']" [(ngModel)]="tData.authToken">
                        <div *ngIf="twilioForm.controls['authToken'].errors && (twilioForm.controls['authToken'].dirty || twilioForm.controls['authToken'].touched)"
                            class="alert alert-danger">

                            <div [hidden]="!twilioForm.controls['authToken'].errors.required">
                                Auth Token required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-xs-12 zeroPadding" style="text-align: center">
                    <div class="col-xs-10 col-xs-offset-2" style="margin: 13px 0 0 73px;">
                        <button type="submit" class="btn btn-outline-primary btn-rounded" [disabled]="!twilioForm.valid">Save</button>
                        <!--<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>-->
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <!--</div>-->
</div>