<div class="col-xs-12 bottom-15 pl-0 pr-0 each-page-content">
    <div widget class="card col-xs-12 zeroPadding float-left">
        <div class="card-header custom-style-header">
            <div class="row">

                <div class="clearfix" style="width: 13%;margin: 0 0 0 2%;">
                    <ul class="nav nav-tabs top pull-xs-left">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#android" (click)="osType('2')">Android</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#seo" (click)="osType('1')">IOS</a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="pr-0" style="float: left;">
                    <select id="rowpage" class="form-control input-sm" style="margin: -1px 0px 0px 13px;width: 80%;padding: inherit;" [(ngModel)]="rowsOnPage"
                        (change)="ngOnInit();">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="40">40</option>
                        <option [ngValue]="100">100</option>
                    </select>
                </div>
                <div class="pl-0" style="float: left;">
                    <label class="label-control" style="margin: 12px 0px 0px 6px;">records per page</label>
                </div> -->
                <button class="btn btn-primary buttonCus" data-toggle="modal" style="margin: -2% 20px 0px 0px;" data-target="#addNew">Add</button>

                <!--<button class="btn btn-primary buttonCus" data-toggle="modal" style="margin: 0 20px 0px 0px;" data-target="#addCategory">Add</button>-->

            </div>
        </div>
        <div class="tab-content" style="border: white;">
            <div class="tab-pane fade in active col-sm-12 " id="android">
                <div class="table-block card-block widget-body">
                    <div class="container-fluid pl-0 pr-0">
                        <div class="col-xs-12 col-md-12 col-lg-12 pl-0 pr-0">

                            <div class="panel panel-default">
                                <table class="table">
                                    <thead class="thead">
                                        <tr>
                                            <th style="width: 5%;text-align: center">#</th>
                                            <th style="width: 15%;text-align: center">
                                                App Version
                                            </th>
                                            <th style="width: 40%;text-align: center">
                                                Users
                                            </th>
                                            <th style="width: 14%;text-align: center">
                                                Mandatory
                                            </th>

                                            <th style="width: 18%;text-align: center">
                                                Update Date
                                            </th>
                                        </tr>
                                        <tr>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngIf="msg">
                                            <td colspan="5">No Data found</td>
                                        </tr>

                                        <tr *ngFor="let dt of data | paginate: { itemsPerPage: rowsOnPage, currentPage: p }; let i = index" [attr.data-index]="i">
                                            <td>{{i+1}}</td>
                                            <td>{{dt.version}}</td>
                                            <!-- <td>{{dt.Data.length}}</td> -->
                                            <td *ngIf="dt.Data.length > 0">
                                                <button class="button-cust" style="cursor: pointer;" type="button" (click)="gotoUser(dt.deviceType,dt.version)">{{dt.Data.length}}</button>
                                            </td>
                                            <td *ngIf="dt.Data.length == 0">{{dt.Data.length}}</td>
                                            <td *ngIf="dt.mandatory == true">Yes</td>
                                            <td *ngIf="dt.mandatory == false">No</td>
                                            <td>{{dt.updateDate | date}}</td>
                                        </tr>
                                    </tbody>
                                    <!--<tfoot>
                                    <tr>
                                        <td colspan="100">
                                            <pagination-controls (pageChange)="p = $event" class="cursor-pointer float-right"></pagination-controls>
                                        </td>
                                    </tr>
                                </tfoot>-->
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade col-sm-12 tableCnt" id="seo">
                <div class="table-block card-block widget-body">
                    <div class="container-fluid pl-0 pr-0">
                        <div class="col-xs-12 col-md-12 col-lg-12 pl-0 pr-0">

                            <div class="panel panel-default">
                                <table class="table">
                                    <thead class="thead">
                                        <tr>
                                            <th style="width: 5%;text-align: center">#</th>
                                            <th style="width: 15%;text-align: center">
                                                App Version
                                            </th>
                                            <th style="width: 40%;text-align: center">
                                                Users
                                            </th>
                                            <th style="width: 14%;text-align: center">
                                                Mandatory
                                            </th>

                                            <th style="width: 18%;text-align: center">
                                                Update Date
                                            </th>
                                        </tr>
                                        <tr>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngIf="msg">
                                            <td colspan="5">No Data found</td>
                                        </tr>
                                        <tr *ngFor="let dt of data | paginate: { itemsPerPage: rowsOnPage, currentPage: p }; let i = index" [attr.data-index]="i">
                                            <td>{{i+1}}</td>
                                            <td>{{dt.version}}</td>
                                            <td>{{dt.Data.length}}</td>
                                            <td *ngIf="dt.mandatory == true">Yes</td>
                                            <td *ngIf="dt.mandatory == false">No</td>
                                            <td>{{dt.updateDate | date}}</td>
                                        </tr>
                                    </tbody>
                                    <!--<tfoot>
                                            <tr>
                                                <td colspan="100">
                                                    <pagination-controls (pageChange)="p = $event" class="cursor-pointer float-right"></pagination-controls>
                                                </td>
                                            </tr>
                                        </tfoot>-->
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="modal-label" style="display: none;padding-top: 0%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                App Version
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="versionForm" (ngSubmit)="submitForm(versionForm)">
                <fieldset>
                    <div class="modal-body">
                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-3 control-label">Version No.</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control checking-field" id="input-2" name="version" [formControl]="versionForm.controls['version']"
                                    [ngModel]="versionForm.version">

                                <div *ngIf="versionForm.controls['version'].errors && (versionForm.controls['version'].dirty || versionForm.controls['version'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!versionForm.controls['version'].errors.required">
                                        Version Required
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-3 control-label">Update Madatory</label>
                            <div class="col-xs-9">
                                <label class="switch">
                                    <input type="checkbox" id='mandatory'>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding" style="text-align: center;">
                            <div class="col-xs-10 col-xs-offset-2" style="margin: 13px 0 0 73px;">
                                <button type="submit" class="btn btn-primary" [disabled]="!versionForm.valid">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>