<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-15 pl-0 pr-0 each-page-content">
    <div widget class="card float-left">
        <div class="card-header custom-style-header">
            <div class="row">
                <div class="pr-0" style="float: left;">
                    <select id="rowpage" class="form-control input-sm" style="margin: -1px 0px 0px 13px;width: 80%;padding: inherit;" [(ngModel)]="rowsOnPage"
                        (change)="ngOnInit();">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="40">40</option>
                        <option [ngValue]="100">100</option>
                </select>
                </div>
                <div class="pl-0" style="float: left;">
                    <label class="label-control" style="margin: 12px 0px 0px 5px;">records per page</label>
                </div>
                <input class="customSearch" placeholder="Search.." type="text" style="margin: -2px 21px 0 0;" [(ngModel)]="searchTerm" (keyup)="getPageOnSearch(myinput.value)"
                    #myinput>

            </div>
        </div>
        <div class="table-block card-block widget-body">
            <div class="container-fluid pl-0 pr-0">
                <div class="col-xs-12 col-md-12 col-lg-12 pl-0 pr-0">

                    <div class="panel panel-default">
                        <table class="table">
                            <thead class="thead">
                                <tr>
                                    <th style="width: 7%;text-align: center">#</th>
                                    <th style="width: 55%;text-align: center">Hash Tag</th>
                                    <th style="width: 45%;text-align: center">Used Count</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="msg">
                                    <td colspan="9">No Data Found</td>
                                </tr>
                                <tr *ngFor="let data of hashData; let i = index">
                                    <td>{{i+1}} </td>
                                    <td>{{data.hashTagName}}</td>
                                    <td *ngIf="data.count == 0">
                                        <button class="button-cust" style="cursor: pointer;" type="button">{{data.count}}</button>
                                    </td>
                                    <td *ngIf="data.count > 0">
                                        <button class="button-cust" style="cursor: pointer;" type="button" (click)="gotoHashTag(data.hashTagName)">{{data.count}}</button>
                                    </td>
                                </tr>
                            </tbody>

                            <tfoot>
                                <tr>
                                    <td colspan="100">
                                        <button type="button" id="loadButton" class="lBtn" (click)="getPage()">
                                            <i class="fa fa-chevron-circle-down fa-2x" style="cursor: pointer;"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>