<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= htmlWebpackPlugin.options.metadata.description %>">
    <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">
    <link rel="icon" type="image/x-icon" href="assets/icon/fav.png">
</head>

<body>
    <app>
        <div class="spin-outher">
            <div class="spin-container">
                <div class="spin-inner">
                    <div class="spin-cube-grid">
                        <div class="spin-cube spin-cube1" style="background: url('./assets/img/logo/cube-1.png');  background-size: cover;"></div>
                        <div class="spin-cube spin-cube2" style="background: url('./assets/img/logo/cube-2.png');  background-size: cover;"></div>
                        <div class="spin-cube spin-cube3" style="background: url('./assets/img/logo/cube-3.png');  background-size: cover;"></div>
                        <div class="spin-cube spin-cube4" style="background: url('./assets/img/logo/cube-4.png');  background-size: cover;"></div>
                        <div class="spin-cube spin-cube5" style="background: url('./assets/img/logo/cube-5.png'); background-size: cover;"></div>
                        <div class="spin-cube spin-cube6" style="background: url('./assets/img/logo/cube-6.png'); background-size: cover;"></div>
                        <div class="spin-cube spin-cube7" style="background: url('./assets/img/logo/cube-7.png'); background-size: cover;"></div>
                        <div class="spin-cube spin-cube8" style="background: url('./assets/img/logo/cube-8.png'); background-size: cover;"></div>
                        <div class="spin-cube spin-cube9" style="background: url('./assets/img/logo/cube-9.png'); background-size: cover;"></div>
                    </div>
                </div>
            </div>
        </div>
    </app>
    <script data-pace-options='{ "target": ".main-wrapper", "ghostTime": 1000 }'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.11/js/intlTelInput.js"></script>
    <script>
        jQuery("#phone").intlTelInput();
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/11.0.11/css/intlTelInput.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGJx9KAdmmJI2Tkp14Z3ZR0WGxwj1oA3M&libraries=places"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
    <script src="https://cdn.ckeditor.com/4.5.11/full/ckeditor.js"></script>

</body>

</html>