<!--<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 each-page-header" style="position: fixed;z-index: 99;">
    <div class="float-left">Terms And Conditions</div>

</div>-->
<div class="col-xs-12 bottom-15 pl-0 pr-0 each-page-content">
    <div class="card-header custom-style-header">
        <div class="row">
            <!--<form [formGroup]="pageForm" (ngSubmit)="submitForm(pageForm)">
                <div class="form-group required">
                    <input class="customTextbox" placeholder="File Name.." type="text" style="margin: -5px 0 0 50%;width: 34%;" [formControl]="pageForm.controls['fileName']"
                        [ngModel]="pageForm.fileName">
                </div>

                    <button class="btn btn-primary buttonCus" style="float: right; margin-right: 2%;margin-top: -53px;" type="submit" [disabled]="!pageForm.valid">Save</button>

            </form>-->
            <div class="col-xs-6">
                <button class="col-xs-12 btn btn-primary configbtn" (click)="gotoSaveFile()">Save</button>
            </div>
            <div class="col-xs-6">
                <button class="col-xs-12 btn btn-primary configbtn" data-toggle="modal" data-target="#addImage">Add Image</button>
            </div>
        </div>
    </div>
    <div class="container-fluid pl-0 pr-0">
        <div class="col-xs-12 col-md-12 col-lg-12 pl-0 pr-0">
            <div class="panel panel-default">
                <div widget class="card col-xs-12 zeroPadding float-left">
                    <div>
                        <input class="customBox" id="quetionBox" placeholder="Points" type="text">
                        <div *ngIf="errMsg" class="alert alert-danger">
                            Please Enter Points
                        </div>
                    </div>
                    <ckeditor [(ngModel)]="ckeditorContent" [config]="config" debounce="500">
                    </ckeditor>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="addImage" class="modal fade" role="dialog" style="top: -20%;">
    <div class="modal-dialog modal-lg" style="max-width: 858px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Choose Image </h4>
            </div>
            <div class="modal-body">
                <div style="overflow: auto;max-height: 297px;">
                    <!--<div class="btn-group" *ngFor="let img of images">
                        <button type="button" class="btn btn-primary" (click)="addImage(img)" data-dismiss="modal"><img src="{{img}}" alt="" width="120px" height="90px"></button>
                    </div>-->
                    <div class="btn-group" *ngFor="let img of imageSrc">
                        <button type="button" class="button-cust" data-dismiss="modal"><img src={{img}} alt="" width="120px" height="90px" style="cursor: pointer;box-shadow: 0px 0px 3px 1px grey;" (click)="addImage(img)"></button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadImage">Upload</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div id="uploadImage" class="modal fade" role="dialog" style="top: -25%">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Choose Image </h4>
            </div>
            <div class="modal-body">
                <div>
                    <!--<img-cropper [image]="data" [settings]="cropperSettings"></img-cropper>-->
                    <!--<input type="file" id="photo" style="padding: 0 0 0 66px;" />-->

                    <input id="custom-input" type="file" style="padding: 0 0 0 66px;margin: 0 0 8px 16%;" accept="image/*" (change)="fileChangeListener($event)">

                    <img-cropper #cropper [image]="data1" style="margin: 0 0 0 11%;" [settings]="cropperSettings"></img-cropper>
                    <!--<br>
                    <span class="result rounded" *ngIf="data1.image">
                            <img [src]="data1.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
                            
                    </span>-->

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" (click)="confirmUpload()" data-dismiss="modal">Upload Image</button>
            </div>
        </div>
    </div>
</div>